.nick-player {
    position: absolute;
    left: 483px;
    top: 1498px;
    width: 367px;
    height: 34px;
    font-family: 'Gwent', 'Tagesschrift', serif;
    font-weight: bold;
    color: #b28a41;
    font-size: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    z-index: 100;
}
.nick-opponent {
    position: absolute;
    left: 483px;
    top: 569px;
    width: 367px;
    height: 33px;
    font-family: 'Gwent', 'Tagesschrift', serif;
    font-weight: bold;
    color: #b28a41;
    font-size: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    z-index: 100;
}