/* Card Content Layering */
.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.card-content .card-image {
    position: absolute;
    z-index: 2 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-content .beton,
.card-content .faction-banner,
.card-content .position-icon,
.card-content .points-bg,
.card-content .power-icon {
    position: absolute;
    z-index: 3 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.ilosc-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 15 !important;
    pointer-events: none;
}

.card-content .name {
    z-index: 11 !important;
    position: absolute;
    left: 21.76%;
    width: 76.34%;
    top: 76%;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    white-space: normal;
    word-break: break-word;
    line-height: 1.1;
    padding: 0 4px;
}

.card-content .points {
    z-index: 13 !important;
    position: absolute;
    top: 7.8%;
    left: 14.5%;
    width: 23.61%;
    height: 8.84%;
    font-size: 220%;
    color: #fff;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content .hero-icon {
    position: absolute;
    top: -1.912386%;
    left: -4.389313%;
    width: 59.160305%;
    height: 31.017121%;
    object-fit: contain;
    z-index: 12 !important;
}

.card-content .description {
    position: absolute;
    top: 90.533837%;
    left: 3%;
    width: 92.129771%;
    height: 7.653575%;
    font-size: 3.435115%;
    color: #333333;
    text-align: center;
    display: none;
    z-index: 7;
}

.card-content .ilosc-text {
    position: absolute;
    top: 91.4%;
    left: 17%;
    color: #5a451f;
    font-size: 1.2em;
    font-family: 'PFDinTextCondPro', sans-serif;
    font-weight: normal;
    z-index: 20;
    pointer-events: none;
    user-select: none;
    text-shadow: 0 1px 2px #fff8, 0 0 2px #fff4;
}