body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('assets/wybor/plansza.webp') no-repeat center;
    background-size: contain;
    z-index: 2;
}
#fadeScreen {
    position: fixed;
    z-index: 10;
    left: 0; top: 0; width: 100vw; height: 100vh;
    background: radial-gradient(ellipse at center, #111 0%, #000 100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}
