.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('assets/wybor/hmory.webp') repeat-x;
    background-size: 100% auto;
    animation: moveBackground 192s linear infinite;
    z-index: 1;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -3840px 0;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('assets/wybor/gui.webp') no-repeat center;
    background-size: contain;
    z-index: 2;
}

.card-area {
    position: absolute;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.card-area::-webkit-scrollbar {
    display: none;
}

.stats {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 50;
}

.faction-info {
    position: absolute;
    width: 100%;
    text-align: center;
}

.faction-name {
    color: #fff;
    font-family: 'PFDinTextCondPro-Bold', sans-serif;
}

.faction-ability {
    color: #b9a385;
}

.leader-card {
    position: absolute;
    cursor: pointer;
}

#goToGameButton,
#saveDeckButton {
    position: absolute;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #7d6a45;
    border-radius: 5px;
    transform: translateX(-50%);
}